.spinme {
  animation: rotate-center linear 8s 2; /* exécute l'animation 'rotate-centre' avec un timing linéaire (même rythme tout au long) pendant huit secondes. Exécute l'animation deux fois. */
  display: inline-block; /* Important pour que l'élément animé ne soit pas divisé sur une nouvelle ligne */
}

@keyframes rotate-center {
  /* Le code d'animation de rotation */
  0% {
    /* Rotation de 0 à 360 degrés */
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bounceme {
  animation: bounce ease 2s 3; /* exécute l'animation 'rebond' avec un timing facile (début et fin lents) pendant deux secondes. Exécute l'animation trois fois. */
  display: inline-block;
}

@keyframes bounce {
  /* Le code de l'animation de rebond */
  0% {
    transform: scale(1, 1) translateY(0); /* Position de départ et taille réelle */
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0); /* Augmenter la largeur et réduire la hauteur pour un effet d'écrasement avant le rebond */
  }
  30% {
    transform: scale(1, 1) translateY(-6rem); /* Revenir à la taille réelle et déplacer l'emoji de 100 pixels par rapport à la position actuelle */
  }
  50% {
    transform: scale(1, 1) translateY(0); /* Remettre l'emoji à la position de départ */
  }
}

.scaleme {
  animation: scale ease 2s infinite; /* exécute l'animation 'scale' avec un timing facile (début et fin lents) pendant deux secondes. Exécute l'animation indéfiniment. */
  display: inline-block;
}

@keyframes scale {
  /* Le code d'animation d'échelle */
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  80% {
    transform: scale(1, 1);
  }
}

.rollmeleft {
  animation: rollleft ease 8s 1;
  display: inline-block;
}

@keyframes rollleft {
  /* Le code de l'animation du roulement */
  from {
    transform: translate(-60vw) rotate(0deg);
  }

  to {
    transform: translate(0vw) rotate(360deg);
  }
}

.rollmeright {
  animation: rollright ease 8s 1;
  display: inline-block;
}

@keyframes rollright {
  /* Le code de l'animation du roulement */
  from {
    transform: translate(60vw) rotate(360deg);
  }

  to {
    transform: translate(0vw) rotate(00deg);
  }
}

.movemeleft {
  animation: moveleft ease 8s 1;
  display: inline-block;
}

@keyframes moveleft {
  /* Le code d'animation de déplacement */
  from {
    transform: translate(-60vw);
  }

  to {
    transform: translate(0vw);
  }
}

.movemeright {
  animation: moveright ease 8s 1;
  display: inline-block;
}

@keyframes moveright {
  /* Le code d'animation de déplacement */
  from {
    transform: translate(60vw);
  }

  to {
    transform: translate(0vw);
  }
}

.flipme {
  transform: rotateY(180deg);
}
