/* Configurer la palette de couleurs et les polices en utilisant les variables */

:root {
  --primary: #01957d;
  --onprimary: #000000;
  --secondary: #e65c1e;
  --onsecondary: #000000;
  --tertiary: #a8d67e;
  --ontertiary: #fbfbfb;
  --page: #ffffff;
  --onpage: #000000;
  --detail: #fddb81;
  --detail2: #470f01;
 
  
  --body-font: 1rem Verdana, sans-serif;
  --header-font: lighter 3rem 'Ranchers', cursive;
  --title-font: lighter 2rem 'Ranchers', cursive;
  --quote-font: lighter 1.5rem 'Ranchers', cursive;
}