/* Kleurenpalet en lettertypen instellen met variabelen */

:root {
  --primary: #f9ead7; /* */
  --onprimary: #000000; /* */
  --secondary: #c9898d; /* */
  --onsecondary: #000000; /* */
  --tertiary: #f5aaaa; /* */
  --ontertiary: #000000; /* */
  --page: #ffffff; /* */
  --onpage: #000000; /* */
  --detail: #ae6c58; /* */
  --detail2: #825959; /* */
  
  --body-font: 1rem Verdana, sans-serif;
  --header-font: lighter 3rem "spirax", cursive;
  --title-font: lighter 2rem "spirax", cursive;
  --quote-font: lighter 1.5rem "spirax", cursive;
 
}