/* Colour pairings */

.primary {
  background: var(--primary);
  color: var(--onprimary);
}

.secondary {
  background: var(--secondary);
  color: var(--onsecondary);
}

.tertiary {
  background: var(--tertiary);
  color: var(--ontertiary);
}

.page {
  background: var(--page);
  color: var(--onpage);
}


/* Overal toepassen */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; /* Opvulling en rand maken een box niet groter */
}

html,
body {
  width: 100%;
  margin: 0rem auto;
  background: var(--page);
  color: var(--onpage);
  font: var(--body-font);
  min-height: 100vh; /* Laat de inhoud de pagina vullen zodat de voettekst onderaan staat */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* voeg een achtergrondafbeelding toe aan de hoofdtekst */

body {
  /*background-image: url('name.jpg');*/ /* Verwijder commentaar en wijzig de bestandsnaam om een achtergrondafbeelding toe te voegen */
  /*background-repeat: repeat;*/ /* Laat de afbeelding herhalen */
  /*background-size: cover;*/ /* Zorg ervoor dat de afbeelding de hele container bedekt */
}

/* De hoofdinhoud van de pagina tussen de kop- en voettekst */
main {
  background: var(--primary); /* Kleur de achtergrond */
  color: var(--onprimary); /* Kleur de tekst */
  margin: 0 auto; /* Centreren als de browser erg breed is */
  min-breedte: 25rem; /* Laat de inhoud niet te smal worden */
  max-width: 70rem; /* Laat de inhoud niet te breed worden */
  padding: 0;
  padding-top: 0.5rem; /* Vulling bovenaan */
  margin-bottom: 1em; /* Tussenruimte vóór de voettekst */
}

/* Kop- en voettekst element stijlen */

header,
footer {
  text-align: center;
  width: 100%; /* Vul de volledige breedte van het venster */
  margin: 0; /* Verwijder de standaardmarge */
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Sectiestijlen */

section {
  padding: 1rem 2rem;
  margin: 1rem auto;
}

/* Randstijlen */

.border-bottom {
  border-bottom: 20px solid var(--detail); /* Voeg een ononderbroken lijn toe */
}

.border-top {
  border-top: 10px solid var(--detail2); /* Voeg een ononderbroken lijn toe boven de voettekst */
}

/* Voeg een transparant effect toe */

.transparent {
  opacity: 0.95;
}

/* Stijlen alleen voor h1-elementen */

h1 {
  font: var(--header-font); /* Lettertype stijl opgeslagen in de kop-lettertype variabele */
  padding: 2rem;
  margin: 0; /* Centreren als de browser erg breed is */
}

/* Stijlen alleen voor h2-elementen */

h2 {
  font: var(--title-font); /* Lettertype stijl opgeslagen in de kop-lettertype variabele */
}

/* Markeer sleutelwoorden vet en pas een alternatieve tekstkleur toe */

strong {
  color: var(--detail2); /* Tekst kleur opgeslagen in de bijschrift variabele */
  font-weight: bold; /* Maakt tekstgewicht sterker dan de standaard */
}

/* Stijl voor geordende en ongeordende lijsten */

ol,
ul {
  display: inline-block;
  text-align: left;
  padding-left: 2rem;
}

/* Opvulling rond alinea's */

p {
  padding: 0.25rem 0.5rem;
}

/* Stijl voor links */

a:link,
a:visited {
  font-weight: bold;
  color: inherit; /* Gebruik de kleur van het bovenliggende element */
}

.xcenter {
  text-align: center;
}

.ycenter {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* Stijlen alleen voor de .wrap class */

.wrap {
  /* Laat inhoud over meerdere rijen lopen */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Voor het maken van mooie vakjes */

.dashed-border {
  border: 0.25rem dashed var(--detail2);
}

.solid-border {
  border: 0.25rem solid var(--detail2);
}

/* Stijlen voor de div tags die zich in een .wrap class bevinden */

.wrap > div {
  width: 14rem;
  padding: 0rem;
}

/* Stijlen voor de img tags die zich in een .wrap class bevinden */

.wrap > img {
  width: 14rem;
  display: block;
  padding: 0rem;
}

/* Stijlen voor de p-tags die zich in een .wrap class bevinden */

.wrap > p,
.wrap > span {
  width: 14rem;
  display: block;
  padding: 0rem;
}

/* Specifieke stijlen voor dit project */

.bigfont {
  font-size: 3rem;
}

.hugefont {
  /* Gebruikt om een grote emoji te maken */
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
}

.wrap .narrow {
  width: 10rem;
}

.wrap .wide {
  width: 20rem;
}

blockquote {
  font: var(--quote-font);
  color: var(--detail);
  text-align: center;
  padding: 0rem;
  max-width: 25rem;
}

cite {
  color: var(--detail);
  font-size: small;
}

/* Specifieke stijlen voor dit project */

.tile {
  height: 9.4rem;
}

.rounded {
  border-radius: 1rem;
}

.gradient1 {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--detail)
  );
  color: var(--onsecondary);
}

.gradient2 {
  background-image: linear-gradient(
    to top right,
    var(--tertiary),
    var(--detail2)
  );
  color: var(--ontertiary);
}

.shadow {
   box-shadow: 5px 5px 3px 0px #888888; /* rechter- en onderste schaduwzijde, blur, spread en kleur */
   /*box-shadow: 5px 5px 4px 2px var(--detail);*/
}

.wrap .card {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid transparent;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 60rem;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card p {
  padding: 0.5rem;
}

